<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scratch Projects</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/add">Add Project</a>
    </nav>
  <img src="https://www.svgrepo.com/show/521279/error-16.svg" class="headimg" />
    <h1>Oh noes!</h1>
    <p>
      You are not allowed to visit this page :(
    </p>
</body>
</html>