<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 500</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/all.js"></script>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/add">Add Project</a>
        <a href="https://scratch.mit.edu/discuss/topic/771639/">Discuss</a>
    </nav>
  <img src="https://www.svgrepo.com/show/521279/error-16.svg" class="headimg" />
    <h1>Oh noes!</h1>
    <p>
      An error occured while loading this page.
    </p>
    <div style="white-space: pre; font-family: Courier, monospace;">
      <%= err %>
  </div>
</body>
</html>