<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scratch Projects</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/add">Add Project</a>
        <a href="https://scratch.mit.edu/discuss/topic/771639/">Discuss</a>
    </nav>
  <img src="https://www.svgrepo.com/show/169733/denied.svg" class="headimg" />
    <h1>Oh noes!</h1>
    <p>
      Your project was rejected because 
      <b>
        <%= err %>
      </b>
    </p>
</body>
</html>