.thumbnail {
  width: 144px;
  height: 108px;
  box-shadow: 3px 3px 4px 0px #0000001f;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.project {
  width: 144px;
  height: 190px;
  display: inline-block;
  baseline-source: first;
  transition: 0.2s;
}

.project:hover {
  filter: brightness(0.9);
  transform: scale(1.05);
}